/* #region SECTION HEADER */

.container {
    background: #ffb8ca;
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 25px;
}

.list-button-item,
.header-list {
    display: none;
}

.burger-btn {
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.burderr-icon {
    display: block;
    stroke-width: 1px;
    stroke: #d41443;
}

@media screen and (min-width:768px) {
    .header-navigation {
        padding-top: 32px;
        padding-bottom: 20px;
    }

    .burger-btn {
        margin-right: 32px;
    }

    .list-button-item {
        display: block;
    }

    .list-button {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #d41443;
        border-radius: 22px;
        width: 159px;
        height: 44px;
        background: #fff;
    }
}

@media screen and (min-width:1200px) {
    .burger-btn {
        display: none;
    }

    .header-navigation {
        padding-top: 37px;
        padding-bottom: 60px;
        position: relative;
        z-index: 2;
    }

    .logo {
        margin-right: 128px;
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }

    .header-link {
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }

    .header-home {
        font-weight: 700;
        font-size: 16px;
        color: #d41443;
    }

    .list-button-item {
        margin-left: auto;
    }

    .list-button:hover,
    .list-button:focus {
        background: #ecebeb;
    }
}

/* #endregion */

/* #region SECTION HERO */

.hero-milk-photo,
.hero-section,
.hero-group-girl {
    display: none;
}

.hero-list-container {
    display: flex;
    position: relative;
}

.hero-list-item {
    display: inline;
    position: relative;
    z-index: 5;
}

.hero-text {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    width: 218px;
    height: 106px;
    margin-bottom: 20px;
    margin-top: 136px;
}

.hero-icon-Ellipse-3 {
    width: 100%;
    height: 100%;
}

.hero-text-pas {
    font-size: 48px;
    line-height: 0.965;
    color: #d41443;
}

.hero-btn {
    display: flex;
    align-items: center;
    margin-bottom: 158px;
}

.hero-button-it {
    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width: 62px;
    height: 24px;
    background: #d41443;
    padding: 7px 0;
    margin-right: 9px;
    border: none;
}

.hero-button-how-it {
    font-weight: 400;
    font-size: 8px;
    text-align: center;
    color: #d41443;
    border-radius: 20px;
    width: 82px;
    height: 24px;
    background: #fff;
    padding: 7px 0;
    border: none;
}

.hero-ice-girl {
    display: flex;
}

.hero-images {
    border-radius: 100%;
    fill: #ffa5ba;
    width: 346px;
    height: 344px;
    position: absolute;
    z-index: 1;
    right: -65px;
    bottom: 75px;
    /* top: 0; */
}

.hero-icon-ice {
    display: flex;
}

.hero-big-ice {
    position: absolute;
    z-index: 3;
    width: 171px;
    height: 410px;
    bottom: 0;
    right: 12px;
}

@media screen and (min-width:768px) {
    .hero-list-container {
        display: flex;
        position: relative;
        padding-top: 10px;
    }

    .hero-list-item {
        display: inline;
    }

    .hero-text {
        font-size: 22px;
        width: 162px;
        height: 80px;
        margin-top: 0;
    }

    .hero-text-pas {
        font-size: 34px;
        line-height: 0.905;
    }

    .hero-btn {
        margin-bottom: 20px;
    }

    .hero-milk-photo {
        display: flex;
        align-items: end;
        margin-bottom: 16px;
    }

    .hero-milk {
        width: 152px;
        height: 154px;
    }

    .hero-list {
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        color: #fff;
        width: 114px;
        min-height: 48px;
        margin-bottom: 7px;
        align-items: center;
        display: flex;
        position: relative;
        z-index: 6;
    }

    .hero-section {
        display: inline;
        margin-bottom: 16px;
    }

    .hero-ice-girl {
        display: flex;
    }

    .hero-images {
        border-radius: 100%;
        fill: #ffa5ba;
        width: 335px;
        height: 333px;
        position: absolute;
        z-index: 1;
        right: 165px;
        bottom: 40px;
    }

    .hero-icon-ice {
        display: flex;
    }

    .hero-big-ice {
        position: absolute;
        z-index: 3;
        width: 143px;
        height: 336px;
        bottom: 0;
        right: 303px;
    }

    .hero-group-girl {
        display: inline;
    }

    .hero-16 {
        width: 43px;
        height: 44px;
        position: absolute;
        right: 0;
        bottom: 280px;
    }

    .hero-23 {
        width: 51px;
        height: 43px;
        position: absolute;
        bottom: 221px;
        right: 0;
    }

    .hero-girl {
        width: 190px;
        height: 150px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    .hero-girl-ice {
        width: 190px;
        height: 150px;
    }
}

@media screen and (min-width:1200px) {
    .hero-list-container {
        padding-bottom: 60px;
    }

    .hero-text {
        font-size: 38px;
        width: 277px;
        height: 137px;
        margin-bottom: 24px;
    }

    .hero-text-pas {
        font-size: 58px;
    }

    .hero-btn {
        margin-bottom: 40px;
    }

    .hero-button-it {
        font-size: 14px;
        width: 107px;
        height: 40px;
        padding: 11px 0;
        margin-right: 12px;
    }

    .hero-button-how-it {
        font-size: 14px;
        width: 138px;
        height: 40px;
        padding: 11px 0;
    }

    .hero-button-how-it:hover,
    .hero-button-how-it:focus {
        background: #ecebeb;
    }

    .hero-milk-photo {
        display: flex;
        align-items: end;
    }

    .hero-milk {
        width: 213px;
        height: 216px;
    }

    .hero-list {
        font-size: 14px;
        line-height: 1.4;
        width: 200px;
        height: 78px;
        margin-bottom: 20px;
    }

    .hero-section {
        margin-bottom: 20px;
    }

    .hero-images {
        width: 534px;
        height: 534px;
        right: 149px;
        bottom: 76px;
    }

    .hero-big-ice {
        width: 236px;
        height: 537px;
        right: 328px;
    }

    .hero-16 {
        width: 72px;
        height: 77px;
        bottom: 436px;
    }

    .hero-23 {
        width: 92px;
        height: 76px;
        bottom: 344px;
    }

    .hero-girl {
        width: 304px;
        height: 241px;
    }

    .hero-girl-ice {
        width: 304px;
        height: 241px;
    }
}

.mobal-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e17992;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container-modal {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.mobal-menu-container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 185px;
}

.mobal-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke-width: 1px;
    stroke: #fff;
    border: none;
}

.mobal-button-item {
    border-radius: 22px;
    width: 209px;
    height: 44px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #d41443;
    margin: 0 auto 32px auto;
}

.mobal-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.mobal-link {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.header-home {
    font-weight: 700;
    font-size: 14px;
    color: #d41443;
}

@media screen and (min-width:1200px) {
    .mobal-menu {
        display: none;
    }
}

/* #endregion */

/* #region SECTION PRODUCTS */


.section-products {
  max-width: 320px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  font-family: "Titan One", sans-serif;
}

.section-title {
  margin-bottom: 8px;
  }

  .title-quality {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    margin-bottom: 15px;
    }
    
  .title {
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    margin-bottom: 0;
    }

.product-list {
  margin-left: 20px;
  margin-right: 20px;
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.product-item {
  position: relative;
  width: 100%;
  border-radius: 24px;
  }

  .product-item-box {
    border-radius: 24px;
    text-align: center;
    margin-top: 160px;
    height: 489px;
    }

.product-item-title {
    padding-top: 160px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
    margin-top: 20px;
    }


.product-item-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 32px;
    }

.product-item-icecream {
  background: #ffb8ca;
  margin-top: 140px;
  }
    
.product-item-icecoffee {
  background: #f0d1a5;
  }
    
.product-item-milkshakes {
  background: #c2e297;  
  }

  .product-dots {
    fill: rgba(255, 255, 255, 1);
    }

.product-pic {
  display: block;
  position: absolute;
  bottom: 349px;
  }

  .product-arrow {
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
  }

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .section-products {
    max-width: 768px;
    }

  .section-title {
      margin-bottom: 20px;
      }
  
  .title-quality {
    font-size: 26px;
    margin-bottom: 18px;
}

  .title {
  font-size: 48px;
  }


.product-item-box {
  min-height: 473px;
}

  .product-list {
    margin-left: 32px;
    margin-right: 32px;
    flex-wrap: nowrap;
    gap: 16px;
  }
  
  .product-item {
    position: relative;
    width: calc((100% - 16px - 16px) / 3);
    }

  .product-item-title {
    padding-top: 118px;
    margin-top: 32px;
    }

    .product-item-text {
      line-height: 176%;
      padding-left: 18px;
      padding-right: 18px;
    }
   
    .product-item-box {
      border-radius: 24px;
      text-align: center;
      height: 473px;
      margin-top: 158px;
      padding-bottom: 40px;
      }

   .product-pic {
    display: block;
    position: absolute;
    bottom: 387px;
      }

      .product-arrow {
        margin-bottom: 0px;
      }

    }
   

   @media screen and (min-width: 1200px) {
 
    .section-products {
    max-width: 1200px;
    padding-top: 61px;
    padding-bottom: 60px;
    margin: 0 auto;
    } 
    
    .section-title {
    margin-bottom: 20px;
    }
    
    .title-quality {
    font-size: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    }
    
    .title {
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    }

    .product-list {
  margin-left: 16px;
  margin-right: 16px;
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
}

    .product-item {
  position: relative;
  width: calc((100% - 32px - 32px) / 3);
  }

  .product-pic {
    position: absolute;
    bottom: 402px;
    }

    .product-item-title {
    padding-top: 165px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    }

    .product-dots {
      fill: rgba(255, 255, 255, 1);
      }
        
    .product-item-text {
    font-size: 16px;
    line-height: 176%;
   }
        
    .product-item-box {
    border-radius: 24px;
    width: 368px;
    margin-top: 261px;
    height: 535px;
    padding-bottom: 60px;
    }
  
    
    .product-arrow {
      display: flex;
      margin: 0 auto;
    }

  }



    
    




    
 



/* #endregion */

/* #region SECTION HOW IT'S MADE */

/* #endregion */

/* #region SECTION REVIEWS */

/* li {
  line-height: 1;
} */

.reviews-section {
  margin-top: -27px;
  margin-bottom: 60px;
}

.reviews-container {
  width: 320px;
}

.reviews-showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2.53px;
  margin-bottom: 60px;
  /* margin-inline: auto; */
  width: 320px;
  height: 136px;
}

.reviews-showcase-item {
  margin-top: 2.52px;
  /* margin-top: 8px; */
  width: 43.59px;
  height: 43.86px;
  overflow: hidden;
  border-radius: 8px;
  /* border-radius: 20px; */
}

.reviews-showcase-item:nth-child(1) {
  margin-top: 45.12px;
  /* margin-top: 142.67px; */
}

.reviews-showcase-item:nth-child(2) {
  margin-top: 28.08px;
  /* margin-top: 88.79px; */
}

.reviews-showcase-item:nth-child(3) {
  margin-top: 1.89px;
  /* margin-top: 88.79px; */
}

.reviews-showcase-item:nth-child(4) {
  margin-top: 0;
  width: 89.4px;
  height: 89.61px;
  /* width: 283px; */
}

.reviews-showcase-item:nth-child(6) {
  margin-top: 31.24px;
  /* margin-top: 98.77px; */
}

.reviews-showcase-item:nth-child(8) {
  margin-top: 20.83px;
  /* margin-top: 65.85px; */
}

.reviews-showcase-item:nth-child(10) {
  margin-top: 48.91px;
  /* margin-top: 154.64px; */
}

/* .reviews-list {
  padding-inline: 116px;
} */

.review-ava {
  margin-inline: auto;
  margin-bottom: 32px;
  /* margin-bottom: 16px; */
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.review-bg-color-box {
  margin-inline: auto;
  margin-bottom: 16px;
  width: 280px;
  padding: 42px 50px 47px;
  /* padding: 47px 73px 32px; */
  background-color: #fafafa;
  background-image: url('../images/reviews/icon-quotes.svg');
  background-repeat: no-repeat;
  background-position: 53px 30px;
}

.review-bg-image-box {
  /* position: relative; */
  padding-left: 15px;
  padding-right: 7px;
  height: 218.4px;
  line-height: 2.6;
  font-size: 12px;
  /* padding: 0 36px; */
  background: linear-gradient(
    to bottom,
    transparent calc(2.6em - 1px),
    #e1e1e1 calc(2.6em - 1px),
    #e1e1e1 2.6em
  );
  /* background: linear-gradient(
    to bottom,
    transparent calc(1.88em - 1px),
    #e1e1e1 calc(1.88em - 1px),
    #e1e1e1 1.88em
  ); */
  background-size: 100% 2.6em;
}

.review-text {
  position: relative;
  text-align: center;
  /* line-height: 1.88; */
  font-weight: 500;
  letter-spacing: 0.04em;
  transform: translateY(4px);
}

.review-icon-quotes {
  position: absolute;
  top: -17px;
  left: -12px;
  /* top: -15px;
  left: -37px; */
}

.review-icon-dots {
  display: block;
  margin-inline: auto;
  margin-bottom: 16px;
}

.review-author {
  margin-bottom: 16px;
  /* margin-bottom: 32px; */
  text-align: center;
  line-height: 1.86;
  font-size: 14px;
  /* font-size: 20px; */
  font-weight: 500;
}

.review-controls {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.review-controls-button {
  display: block;
}

.review-controls-icon {
  display: block;
}

@media (min-width: 768px) {
  .reviews-section {
    margin-top: -187px;
    margin-bottom: 80px;
  }

  .reviews-container {
    width: 768px;
  }

  .reviews-showcase {
    column-gap: 6.07px;
    width: 768px;
    height: 327px;
  }

  .reviews-showcase-item {
    margin-top: 6.05px;
    /* margin-top: 8px; */
    width: 104.62px;
    height: 105.14px;
    border-radius: 20px;
  }

  .reviews-showcase-item:nth-child(1) {
    margin-top: 108.16px;
    /* margin-top: 142.67px; */
  }

  .reviews-showcase-item:nth-child(2) {
    margin-top: 67.32px;
    /* margin-top: 88.79px; */
  }

  .reviews-showcase-item:nth-child(3) {
    margin-top: 4.54px;
    /* margin-top: 88.79px; */
  }

  .reviews-showcase-item:nth-child(4) {
    margin-top: 0;
    width: 214.55px;
    height: 214.81px;
    /* width: 283px; */
  }

  .reviews-showcase-item:nth-child(6) {
    margin-top: 74.88px;
    /* margin-top: 98.77px; */
  }

  .reviews-showcase-item:nth-child(8) {
    margin-top: 49.92px;
    /* margin-top: 65.85px; */
  }

  .reviews-showcase-item:nth-child(10) {
    margin-top: 117.24px;
    /* margin-top: 154.64px; */
  }

  .review-ava {
    margin-bottom: 20px;
    /* margin-bottom: 16px; */
  }

  .review-bg-color-box {
    margin-bottom: 4px;
    width: 620px;
    padding: 38px 6px 36px;
    /* padding: 47px 73px 32px; */
    background-position: 6px 20px;
  }

  .review-bg-image-box {
    /* position: relative; */
    padding-left: 64px;
    padding-right: 64px;
    height: auto;
    line-height: 2.14;
    font-size: 14px;
    /* padding: 0 36px; */
    background: linear-gradient(
      to bottom,
      transparent calc(2.14em - 1px),
      #e1e1e1 calc(2.14em - 1px),
      #e1e1e1 2.14em
    );
    /* background: linear-gradient(
      to bottom,
      transparent calc(1.88em - 1px),
      #e1e1e1 calc(1.88em - 1px),
      #e1e1e1 1.88em
    ); */
    background-size: 100% 2.14em;
  }

  .review-author {
    margin-bottom: 32px;
    /* margin-bottom: 32px; */
    font-size: 16px;
    /* font-size: 20px; */
  }

  .review-controls {
    gap: 18.4px;
  }
}

@media (min-width: 1200px) {
  .reviews-section {
    margin-top: -89px;
    margin-bottom: 120px;
  }

  .reviews-container {
    width: 1200px;
  }

  .reviews-showcase {
    column-gap: 8px;
    margin-inline: auto;
    margin-bottom: 120px;
    width: 1013px;
    height: 430px;
  }

  .reviews-showcase-item {
    margin-top: 7.98px;
    width: 138px;
    height: 138.68px;
    overflow: hidden;
    border-radius: 20px;
  }

  .reviews-showcase-item:nth-child(1) {
    margin-top: 142.67px;
  }

  .reviews-showcase-item:nth-child(2) {
    margin-top: 88.79px;
  }

  .reviews-showcase-item:nth-child(3) {
    margin-top: 5.99px;
  }

  .reviews-showcase-item:nth-child(4) {
    margin-top: 0;
    width: 283px;
    height: 283.34px;
  }

  .reviews-showcase-item:nth-child(6) {
    margin-top: 98.77px;
  }

  .reviews-showcase-item:nth-child(8) {
    margin-top: 65.85px;
  }

  .reviews-showcase-item:nth-child(10) {
    margin-top: 154.64px;
  }

  .review-ava {
    margin-bottom: 16px;
  }

  .review-bg-color-box {
    margin-bottom: 16px;
    width: 968px;
    padding: 47px 73px 31px;
    background-position: 73px 32px;
  }

  .review-bg-image-box {
    /* position: relative; */
    padding-left: 64px;
    padding-right: 64px;
    height: auto;
    line-height: 1.86;
    font-size: 16px;
    /* padding: 0 36px; */
    background: linear-gradient(
      to bottom,
      transparent calc(1.86em - 1px),
      #e1e1e1 calc(1.86em - 1px),
      #e1e1e1 1.86em
    );
    background-size: 100% calc(1.86em + -0.2px); /*visual correction */
  }

  .review-author {
    font-size: 20px;
  }

  .review-controls {
    gap: 18px;
  }
}
/* #endregion */

/* #region SECTION LOCATIONS */

/* #endregion */

/* #region SECTION FOOTER */

.footer-container {
    width: 320px;
    background: #fff5f6;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-photo {
    position: absolute;
    bottom: 540px;
    margin-bottom: 32px;
}

.foter-photo-link {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    height: 412px;
}

.foter-photo-item {
    width: 280px;
    height: 412px;
}

.footer-button {
    gap: 12px;
    padding-top: 1005px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer-button-loc {
    border-radius: 22px;
    width: 161px;
    height: 44px;
    background: #d41342;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-fran {
    border-radius: 22px;
    width: 161px;
    height: 44px;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text-social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer-text-home {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
    font-family: "Titan One", sans-serif;
    margin-bottom: 16px;
}

.footer-text-pas {
    font-weight: 400;
    width: 200px;
    height: 76px;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    font-family: "Titan One", sans-serif;
    margin-bottom: 40px;
}

.footer-link-icons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.footer-icons {
    width: 32px;
    height: 32px;
}

.footer-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fea5bb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item {
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 40px;
    text-align: right;
    font-family: "DM Sans", sans-serif;
}

.footer-contact-color {
    color: #d41443;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-stroke-icons {
    stroke-width: 1px;
    stroke: #e1e1e1;
    margin-bottom: 16px;
}

.footer-icecream {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.02em;
    color: #907e82;
    margin-bottom: 4px;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

@media screen and (min-width:768px) {
    .footer-container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
    }

    .footer-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        position: absolute;
        bottom: 438px;
        margin-bottom: 60px;
    }

    .foter-photo-link {
        width: 224px;
        height: 528px;
    }

    .footer-button {
        justify-content: center;
        gap: 14px;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 40px;
        padding-top: 290px;
    }

    .footer-button-loc {
        width: 191px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-button-fran {
        width: 174px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-text-social {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .footer-text-home {
        font-size: 26px;
        width: 340px;
        height: 57px;
    }


    .footer-text-pas {
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    .footer-social {
        margin-left: auto;
    }

    .footer-link-icons {
        gap: 30px;
    }

    .footer-icons {
        width: 34px;
        height: 34px;
    }

    .footer-contact {
        font-size: 16px;
        margin-bottom: 60px;
    }

    .footer-contact-color {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.83;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-stroke-icons {
        margin-bottom: 7px;
    }

    .footer-icecream {
        line-height: 1.86;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .footer-container {
        width: 1200px;
        min-height: 877px;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
    }

    .foter-photo-link {
        width: 368px;
        height: 538px;
    }

    .footer-button {
        justify-content: center;
        gap: 12px;
        display: flex;
        margin-bottom: 120px;
        padding-top: 499px;
    }

    .footer-button-loc {
        width: 198px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-button-fran:hover,
    .footer-button-fran:focus,
    .footer-button-loc:hover,
    .footer-button-loc:focus {
        color: #907e82;
    }

    .footer-button-fran {
        width: 168px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-text-social {
        display: flex;
        align-items: baseline;
        margin-bottom: 60px;
    }

    .footer-text-home {
        font-size: 30px;
        width: 474px;
    }


    .footer-text-pas {
        font-size: 58px;
        width: 474px;
    }

    .footer-icon:hover,
    .footer-icon:focus {
        background-color: #d41443;
    }

    .footer-contact-color:hover,
    .footer-contact-color:focus {
        color: #907e82;
    }
}








/* #endregion */