/* #region SECTION HEADER */

.header {
    background: #ffb8ca;
    padding-top: 37px;
    padding-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 128px;
    width: 199px;
    height: 50px;
}

.logo-ellipse {
    margin-right: 15px;
    border-radius: 100%;
    fill: #fff;
}

.logo-ice {
    display: flex;
    align-items: center;
}

.logo-ice-link {
    fill: #d41443;
    text-decoration: underline;
    gap: 6px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 541px;
    height: 21px;
    gap: 34px;
    margin-right: 141px;
}

.header-home {
    color: #d41443;
    margin-right: -1px;
}

.header-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.header-link {
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.header-link-item {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}



.list-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;
    border-radius: 22px;
    min-width: 159px;
    height: 44px;
    background: #fff;
}

.list-button:hover {
    color: #ECEBEB;
}

.section-container {
    max-height: 664px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #endregion */

/* #region SECTION HERO */

.hero {
    background: #ffb8ca;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-text {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
    max-width: 277px;
}

.hero-text-pas {
    font-size: 58px;
    line-height: 0.905;
    color: #d41443;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.hero-button {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding: 11px 22px;
    border: 1px solid #d41443;
    border-radius: 20px;
    background: #d41443;
}

.hero-button-it {
    color: #ffffff;
}

.hero-button-how {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #d41443;
    padding: 11px 22px;
    border: 1px solid #fff;
    border-radius: 20px;
    background: #fff;
}

.hero-button-how-it {
    color: #d41443;
}

.hero-button-how-it:hover {
    color: #ECEBEB;
}

.hero-milk-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-milk {
    max-width: 213px;
    height: 216px;
    margin-right: 0;
}

.hero-milk-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 216, 228, 0.08);
    margin-bottom: 60px;
}

.hero-link {
    display: block;
}

.hero-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    max-width: 200px;
    margin-bottom: 20px;
}

.hero-arrow-right {
    border-radius: 50%;
    max-width: 26px;
    height: 26px;
}

.hero-images {
    position: relative;
    min-width: 534px;
    height: 534px;
    z-index: 1;
}

.hero-icon-Ellipse-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #ffa5ba;
    border: 1px solid transparent;
    top: -94px;
    left: 200px;

}

.hero-big {
    position: relative;
    width: 236px;
    height: 557px;
}

.hero-big-ice {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -24px;
    border: 1px solid transparent;
    left: 320px;
}

.hero-icons {
    display: block;
}

.hero-icons-1 {
    position: relative;

}

.hero-icons-2 {
    position: relative;

}

.hero-icon-1 {
    width: 72px;
    height: 77px;
    position: relative;
}

.hero-icon-Ellipse-2 {
    position: absolute;
    right: 0;
    z-index: 1;
}

.hero-icon-item {
    position: absolute;
    bottom: 8px;
}

.hero-icon-16,
.hero-icon-23 {
    z-index: 2;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #d41443;
    position: relative;

}

.hero-icon-text {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fff;

}

.hero-icon-2 {
    width: 92px;
    height: 76px;
    margin-top: 15px;
}

.hero-girl {
    position: relative;
    min-width: 304px;
    height: 241px;
}

.hero-girl-ice {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 5px;
    bottom: -145px;
}

/* #endregion */

/* #region SECTION PRODUCTS */



.section-container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    }
    
    .section-products {
      font-family: "Titan One", sans-serif;
      font-weight: 400;
    }
    
    .section-title {
      margin-top: 61px;
    margin-bottom: 20px;
    }
    
    .title-quality {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    margin-bottom: 0;
    margin-top: 0;
    }
    
    .title {
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    margin-bottom: 0;
    margin-top: 0;
    }
    
    .product-item-title {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    }
    
    .product-list {
    display:flex;
    gap:32px;
    height: 796px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    }
    
    
    .product-item {
    position: relative;
    width: calc((100% - 32px - 32px - 32px) / 3);
    }
    
    .product-pic {
      display: block;
    position: absolute;
    bottom: 402px;
    }
    
    .product-dots {
    fill: rgba(255, 255, 255, 1);
    }
    
    .product-item-box {
    border-radius: 24px;
    width: 368px;
    text-align: center;
    margin-top: 261px;
    min-height: 535px;
    margin-bottom: 60px;
    }
    
    .product-item-icecream {
    background: #ffb8ca;
    
    }
    
    .product-item-icecoffee {
    background: #f0d1a5;
    }
    
    .product-item-milkshakes {
    background: #c2e297;  
    }
    
    .product-item-title {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 165px;
    padding-bottom: 32px;
    }
    
    .product-item-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 32px;
    }
    
    .product-arrow {
      display: flex;
      margin: 0 auto;
    }



/* #endregion */

/* #region SECTION HOW IT'S MADE */

/* #endregion */

/* #region SECTION REVIEWS */

/* li {
  line-height: 1;
} */

.reviews-section {
  margin-top: -27px;
  margin-bottom: 60px;
}

.reviews-container {
  width: 320px;
}

.reviews-showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2.53px;
  margin-bottom: 60px;
  /* margin-inline: auto; */
  width: 320px;
  height: 136px;
}

.reviews-showcase-item {
  margin-top: 2.52px;
  /* margin-top: 8px; */
  width: 43.59px;
  height: 43.86px;
  overflow: hidden;
  border-radius: 8px;
  /* border-radius: 20px; */
}

.reviews-showcase-item:nth-child(1) {
  margin-top: 45.12px;
  /* margin-top: 142.67px; */
}

.reviews-showcase-item:nth-child(2) {
  margin-top: 28.08px;
  /* margin-top: 88.79px; */
}

.reviews-showcase-item:nth-child(3) {
  margin-top: 1.89px;
  /* margin-top: 88.79px; */
}

.reviews-showcase-item:nth-child(4) {
  margin-top: 0;
  width: 89.4px;
  height: 89.61px;
  /* width: 283px; */
}

.reviews-showcase-item:nth-child(6) {
  margin-top: 31.24px;
  /* margin-top: 98.77px; */
}

.reviews-showcase-item:nth-child(8) {
  margin-top: 20.83px;
  /* margin-top: 65.85px; */
}

.reviews-showcase-item:nth-child(10) {
  margin-top: 48.91px;
  /* margin-top: 154.64px; */
}

/* .reviews-list {
  padding-inline: 116px;
} */

.review-ava {
  margin-inline: auto;
  margin-bottom: 32px;
  /* margin-bottom: 16px; */
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.review-bg-color-box {
  margin-inline: auto;
  margin-bottom: 16px;
  width: 280px;
  padding: 42px 50px 47px;
  /* padding: 47px 73px 32px; */
  background-color: #fafafa;
  background-image: url('../images/reviews/icon-quotes.svg');
  background-repeat: no-repeat;
  background-position: 53px 30px;
}

.review-bg-image-box {
  /* position: relative; */
  padding-left: 15px;
  padding-right: 7px;
  height: 218.4px;
  line-height: 2.6;
  font-size: 12px;
  /* padding: 0 36px; */
  background: linear-gradient(
    to bottom,
    transparent calc(2.6em - 1px),
    #e1e1e1 calc(2.6em - 1px),
    #e1e1e1 2.6em
  );
  /* background: linear-gradient(
    to bottom,
    transparent calc(1.88em - 1px),
    #e1e1e1 calc(1.88em - 1px),
    #e1e1e1 1.88em
  ); */
  background-size: 100% 2.6em;
}

.review-text {
  position: relative;
  text-align: center;
  /* line-height: 1.88; */
  font-weight: 500;
  letter-spacing: 0.04em;
  transform: translateY(4px);
}

.review-icon-quotes {
  position: absolute;
  top: -17px;
  left: -12px;
  /* top: -15px;
  left: -37px; */
}

.review-icon-dots {
  display: block;
  margin-inline: auto;
  margin-bottom: 16px;
}

.review-author {
  margin-bottom: 16px;
  /* margin-bottom: 32px; */
  text-align: center;
  line-height: 1.86;
  font-size: 14px;
  /* font-size: 20px; */
  font-weight: 500;
}

.review-controls {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.review-controls-button {
  display: block;
}

.review-controls-icon {
  display: block;
}

@media (min-width: 768px) {
  .reviews-section {
    margin-top: -187px;
    margin-bottom: 80px;
  }

  .reviews-container {
    width: 768px;
  }

  .reviews-showcase {
    column-gap: 6.07px;
    width: 768px;
    height: 327px;
  }

  .reviews-showcase-item {
    margin-top: 6.05px;
    /* margin-top: 8px; */
    width: 104.62px;
    height: 105.14px;
    border-radius: 20px;
  }

  .reviews-showcase-item:nth-child(1) {
    margin-top: 108.16px;
    /* margin-top: 142.67px; */
  }

  .reviews-showcase-item:nth-child(2) {
    margin-top: 67.32px;
    /* margin-top: 88.79px; */
  }

  .reviews-showcase-item:nth-child(3) {
    margin-top: 4.54px;
    /* margin-top: 88.79px; */
  }

  .reviews-showcase-item:nth-child(4) {
    margin-top: 0;
    width: 214.55px;
    height: 214.81px;
    /* width: 283px; */
  }

  .reviews-showcase-item:nth-child(6) {
    margin-top: 74.88px;
    /* margin-top: 98.77px; */
  }

  .reviews-showcase-item:nth-child(8) {
    margin-top: 49.92px;
    /* margin-top: 65.85px; */
  }

  .reviews-showcase-item:nth-child(10) {
    margin-top: 117.24px;
    /* margin-top: 154.64px; */
  }

  .review-ava {
    margin-bottom: 20px;
    /* margin-bottom: 16px; */
  }

  .review-bg-color-box {
    margin-bottom: 4px;
    width: 620px;
    padding: 38px 6px 36px;
    /* padding: 47px 73px 32px; */
    background-position: 6px 20px;
  }

  .review-bg-image-box {
    /* position: relative; */
    padding-left: 64px;
    padding-right: 64px;
    height: auto;
    line-height: 2.14;
    font-size: 14px;
    /* padding: 0 36px; */
    background: linear-gradient(
      to bottom,
      transparent calc(2.14em - 1px),
      #e1e1e1 calc(2.14em - 1px),
      #e1e1e1 2.14em
    );
    /* background: linear-gradient(
      to bottom,
      transparent calc(1.88em - 1px),
      #e1e1e1 calc(1.88em - 1px),
      #e1e1e1 1.88em
    ); */
    background-size: 100% 2.14em;
  }

  .review-author {
    margin-bottom: 32px;
    /* margin-bottom: 32px; */
    font-size: 16px;
    /* font-size: 20px; */
  }

  .review-controls {
    gap: 18.4px;
  }
}

@media (min-width: 1200px) {
  .reviews-section {
    margin-top: -89px;
    margin-bottom: 120px;
  }

  .reviews-container {
    width: 1200px;
  }

  .reviews-showcase {
    column-gap: 8px;
    margin-inline: auto;
    margin-bottom: 120px;
    width: 1013px;
    height: 430px;
  }

  .reviews-showcase-item {
    margin-top: 7.98px;
    width: 138px;
    height: 138.68px;
    overflow: hidden;
    border-radius: 20px;
  }

  .reviews-showcase-item:nth-child(1) {
    margin-top: 142.67px;
  }

  .reviews-showcase-item:nth-child(2) {
    margin-top: 88.79px;
  }

  .reviews-showcase-item:nth-child(3) {
    margin-top: 5.99px;
  }

  .reviews-showcase-item:nth-child(4) {
    margin-top: 0;
    width: 283px;
    height: 283.34px;
  }

  .reviews-showcase-item:nth-child(6) {
    margin-top: 98.77px;
  }

  .reviews-showcase-item:nth-child(8) {
    margin-top: 65.85px;
  }

  .reviews-showcase-item:nth-child(10) {
    margin-top: 154.64px;
  }

  .review-ava {
    margin-bottom: 16px;
  }

  .review-bg-color-box {
    margin-bottom: 16px;
    width: 968px;
    padding: 47px 73px 31px;
    background-position: 73px 32px;
  }

  .review-bg-image-box {
    /* position: relative; */
    padding-left: 64px;
    padding-right: 64px;
    height: auto;
    line-height: 1.86;
    font-size: 16px;
    /* padding: 0 36px; */
    background: linear-gradient(
      to bottom,
      transparent calc(1.86em - 1px),
      #e1e1e1 calc(1.86em - 1px),
      #e1e1e1 1.86em
    );
    background-size: 100% calc(1.86em + -0.2px); /*visual correction */
  }

  .review-author {
    font-size: 20px;
  }

  .review-controls {
    gap: 18px;
  }
}
/* #endregion */

/* #region SECTION LOCATIONS */

/* #endregion */

/* #region SECTION FOOTER */

/* #endregion */